* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 3% 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}

header {
  /* border: solid 1px red; */
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

header > nav {
  min-height: 100px;
  min-width: 400px;
  /* border: 1px solid blue; */
}

.black {
  color: black;
}

.mainnav > ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.rightul{
  justify-content: right;
}

li {
  padding: 15px;
  list-style: none;

}

.dropitem {
  position: relative;

}

.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  box-shadow: 5px 10px 8px 10px #888888;
  min-width: 150%;
}



.dbloc {
  display: block;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover, a:active {
  color: black;
}


button {
  padding: 10px;
  background-color: #EB008D;
  border-radius: 25px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
}
